/* TODO: Add styles and transitions for vision history */
.Visions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  padding: 25px 0;
}

.header {
  color: #91A8D0;
  font-family: 'Yeezy';
  font-size: 2vw;
  margin: 0;
}
