.Goal {
  background-color: white;
  border: 5px solid #C8D3E7;
  box-shadow: 5px 5px 0 #91A8D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 25px;
  padding: 25px 0;
  cursor: pointer;
  transition: transform 0.5s;
}

.Goal:hover {
  transform: translate(0, -5px);
}

.Goal:last-child {
  margin-bottom: 25px;
}

.category {
  color: #91A8D0;
  font-family: 'Yeezy';
  font-size: 1.5vw;
  margin: 0;
  transform: rotate(270deg);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 25px;
}

.content {
  color: #C8D3E7;
  font-family: 'Yeezy';
  font-size: 1.5vw;
  margin: 0 0 10px 0;
}

.byWhen {
  color: #707070;
  font-size: 1vw;
  font-weight: bold;
  margin: 0 0 10px 0;
}

/* TODO: Add styles for multiple tags */
.tag {
  color: white;
  background-color: #91A8D0;
  border-radius: 25px;
  font-family: 'Yeezy';
  font-size: 0.8vw;
  font-weight: bold;
  width: 20%;
  margin: 0;
  padding: 10px 5px;
}

.tag:hover {
  background: #C8D3E7;
}
