.Nav {
  background-color: #91A8D0;
  top: 0;
  left: 0;
  height: 100px;
}

.logo {
  font-size: 4vw;
}

.links {
  margin-right: 25px;
}

.link {
  font-size: 1.5vw;
  list-style-type: none;
}

.Nav,
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.link {
  color: white;
  font-family: 'Yeezy';
  margin-left: 25px;
  cursor: pointer;
}
